# Temp / helper files
raw_app_files.txt
*.bak
*.log

# Flutter
.dart_tool/
build/

# IDE
.vscode/
.idea/

# Android
android/.gradle/
android/local.properties

# Flutter tool files
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ / Android Studio
*.iml

